@import "catppuccin.css";

window#waybar {
    background-color: transparent;
}
window > box {
    background-color: @backgrounddark;
    padding: 0px 5px;
    margin: 0px 5px 2px 5px;
    border-radius: 16px;
}

* {
    font-family: SpaceMono Nerd Font;
    font-weight: 600;
    font-size: 12px;
    padding: 0;
    border-radius: 10px;
}

tooltip {
    padding: 25px;
    background-color: @backgrounddark;
    color: @foreground;
    font-family: SpaceMono Nerd Font;
}

tooltip label {
    padding: 15px;
    color: @textdark;
}

#workspaces {
    border-radius: 100px;
    margin: 6px 2px;
    padding: 0px 10px;
}

#workspaces button {
    color: @color11;
    padding: 0px 5px;
}

#workspaces button.active {
    color: @color14;
}

#workspaces button.urgent {
    color: @color5;
}

#workspaces button.empty {
    color: @textlight;
}

#workspaces button:hover {
    color: @color7;
    background-color: @background;
}

#tray {
    margin: 6px 2px;
    padding: 0px 10px;
}

#cpu,
#memory,
#disk,
#mpris,
#sys-settings,
#pulseaudio,
#custom-updates,
#custom-exit,
#custom-wallchange,
#custom-cliphist,
#clock {
    background-color: @background;
    color: @text;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#battery,
#custom-updates,
#backlight {
    padding: 5px;
}
